

html, body, .appView { width: 320px; height: 480px; }

.dialogView .modal-dialog { width: 320px; margin: 0 auto; }

#Main { background-color: #808080; }

#Image11 { position: absolute; top: 0px; left: 0px; width: 320px; height: 480px; }

#Image8 { position: absolute; top: 16px; left: 16px; width: 88px; height: 96px; }

#Image6 { position: absolute; top: 16px; left: 120px; width: 91px; height: 96px; }

#Image4 { position: absolute; top: 16px; left: 224px; width: 87px; height: 96px; }

#Image12 { position: absolute; top: 136px; left: 120px; width: 88px; height: 96px; }

#FAQImage { position: absolute; top: 136px; left: 16px; width: 88px; height: 96px; }

#Image2 { position: absolute; top: 136px; left: 224px; width: 84px; height: 96px; }

#FAQiFrame { position: absolute; top: 0px; left: 0px; width: 320px; height: 432px; }

#Button8 { position: absolute; top: 432px; left: 104px; width: 112px; height: 48px; }

#Button7 { position: absolute; top: 432px; left: 0px; width: 112px; height: 48px; }

#Button9 { position: absolute; top: 432px; left: 208px; width: 112px; height: 48px; }

#WVCSiteiFrame { position: absolute; top: 0px; left: 0px; width: 320px; height: 432px; }

#Button5 { position: absolute; top: 432px; left: 104px; width: 112px; height: 48px; }

#Button4 { position: absolute; top: 432px; left: 0px; width: 112px; height: 48px; }

#Button6 { position: absolute; top: 432px; left: 208px; width: 112px; height: 48px; }

#EntrataiFrame { position: absolute; top: 0px; left: 0px; width: 320px; height: 432px; }

#Button2 { position: absolute; top: 432px; left: 104px; width: 112px; height: 48px; }

#Button1 { position: absolute; top: 432px; left: 0px; width: 112px; height: 48px; }

#Button3 { position: absolute; top: 432px; left: 208px; width: 112px; height: 48px; }
