

html, body { width: 320px; height: 480px; }

#Main { background-color: #808080; }

#Image11 { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 100.00%; }

#Image8 { position: absolute; top: 3.33%; left: 5.00%; width: 27.50%; height: 20.00%; }

#Image6 { position: absolute; top: 3.33%; left: 37.50%; width: 28.44%; height: 20.00%; }

#Image4 { position: absolute; top: 3.33%; left: 70.00%; width: 27.19%; height: 20.00%; }

#Image12 { position: absolute; top: 28.33%; left: 37.50%; width: 27.50%; height: 20.00%; }

#FAQImage { position: absolute; top: 28.33%; left: 5.00%; width: 27.50%; height: 20.00%; }

#Image2 { position: absolute; top: 28.33%; left: 70.00%; width: 26.25%; height: 20.00%; }

#FAQiFrame { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#Button8 { position: absolute; top: 90.00%; left: 32.50%; width: 35.00%; height: 10.00%; }

#Button7 { position: absolute; top: 90.00%; left: 0.00%; width: 35.00%; height: 10.00%; }

#Button9 { position: absolute; top: 90.00%; left: 65.00%; width: 35.00%; height: 10.00%; }

#WVCSiteiFrame { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#Button5 { position: absolute; top: 90.00%; left: 32.50%; width: 35.00%; height: 10.00%; }

#Button4 { position: absolute; top: 90.00%; left: 0.00%; width: 35.00%; height: 10.00%; }

#Button6 { position: absolute; top: 90.00%; left: 65.00%; width: 35.00%; height: 10.00%; }

#EntrataiFrame { position: absolute; top: 0.00%; left: 0.00%; width: 100.00%; height: 90.00%; }

#Button2 { position: absolute; top: 90.00%; left: 32.50%; width: 35.00%; height: 10.00%; }

#Button1 { position: absolute; top: 90.00%; left: 0.00%; width: 35.00%; height: 10.00%; }

#Button3 { position: absolute; top: 90.00%; left: 65.00%; width: 35.00%; height: 10.00%; }
